// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

header {
  color: #ddd;
}

#avatar-header {
  margin: 6px 0;
  a {
    padding: 0;
  }
  img {
    width: 36px;
    height: 36px;

    &#custom-avatar {
      border: 2px solid grey;
    }
  }
}

#connected-as {
  padding: 10px;
  margin: 5px;
  border-left: 1px solid #bbb;

  a {
    display: inline;
  }
}

.navbar-brand {
  font-size: 20px;
  font-family: "Kaushan Script", cursive;
}


#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -140px;
  padding: 0 0 180px;
}

#footer {
  height: 140px;
  background-color: #f5f5f5;
  vertical-align: middle;

  .container {
    text-align: center;
    padding: 20px 0 0 0;

    #github-link {
      width: 64px;
      height: 64px;
      display: inline-block;
      border-radius: 100%;
      background-image: image-url('github.png');
      opacity: 0.3;

      &:hover {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
}

.small-hr {
  width: 30em;
  margin-left: 0;
  border-color: #ccc;
}


.new-btn {
  margin-right: 10px;
  margin-bottom: 25px;
}


textarea.form-control {
  height: 6em;
}

#show-content {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

show-show img {
  float: right;
}


.my-shows, .other_shows {
  display: flex;
  justify-content: center;
}

.show-container {
  position: relative;
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ddd;
  border-radius: 20px;
  padding: 10px;
}

#poster {
  margin-bottom: 20px;
}

#small-btns {
  margin: 10px 0;

  a {
    text-decoration: none;

    img {
      opacity: 0.4;
      &:hover {
        opacity: 1;
        transition: .25s;
      }
    }
  }
}

.small-btn {
  width: 32px;
  height: 32px;
}

.add-btn {
  width: 28px;
  height: 28px;
}

.form-current-pic {
  margin-bottom: 20px;

  img, #aside-poster-form {
    display: inline-block;
    vertical-align: middle;
  }
}

#index-big-hr {
  border-color: #aaa;
  border-style: dotted;
}

.default-avatar-comment {
  width: 64px;
  height: 64px;
}
